<header>
    <div class="container">
        <div class="logo">
            <a href="">e<b>⋂</b>ler.fm</a>
        </div>
        <p>
            the newest <span>geek</span> way to learn your music compatibility
            with your friends
        </p>
    </div>
</header>