<!DOCTYPE html>
<html>
    <%- include('partials/head') %>
    <body class="red">
        <%- include('partials/header') %>

        <div class="container">
            <%- include('partials/form') %>
            <%- include('partials/about') %>
        </div>
    </body>
</html>